exportPattern("^[[:alpha:]]+")

import("fst")
import("foreach")
import("doParallel")
import('data.table')
import("Rfits")
import("RANN")
import("NISTunits")
import('celestial')
import('magicaxis')
import("ParmOff")

importFrom("utils", "browseURL")
importFrom("grDevices", "hcl.colors")
importFrom("graphics", "legend", "points", "plot.xy")
importFrom("parallel", "detectCores")
importFrom("stats", "approxfun", "integrate")
