exportPattern("^[[:alpha:]]+")

import("foreach")
import("doParallel")
import('data.table')
import("Rfits")
import("RANN")
import("NISTunits")
import('celestial')
import('magicaxis')
import("ParmOff")
import("knitr")
import("checkmate")

importFrom("utils", "browseURL")
importFrom("grDevices", "hcl.colors")
importFrom("graphics", "legend", "points", "plot.xy", "lines", "polygon", "text", "abline")
importFrom("parallel", "detectCores")
importFrom("stats", "approxfun", "integrate", "splinefun", "runif")
